<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Note</title>
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}"
    />
    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container">
      <a class="btn" th:href="@{/}" role="button">
        <span>
          <i class="bi bi-arrow-left"></i>
        </span>
        Back</a
      >
      <form
        action="#"
        method="post"
        th:object="${note_form}"
        onsubmit="saveNote(event)"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="name"
            th:value="${name}"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="description"
            th:value="${description}"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Note</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </form>
    </div>
  </body>
  <script>
    function saveNote(event) {
      event.preventDefault();

      const data = {
        name: $('input[name="name"]').val(),
        description: $('textarea[name="description"]').val(),
      };

      jQuery.ajax({
        method: "POST",
        data: JSON.stringify(data),
        url: "/add",
        headers: {
          "Content-Type": "application/json",
        },
        success: function () {
          // window.location.href = "/";
          history.back();
        },
      });
    }
  </script>
</html>
